.feynman__link {
  position: absolute;

  top: 50%;
  right: 48px;

  color: #2f80ed;

  font: normal 36px/51px 'Helvetica Neue', Arial, sans-serif;

  text-decoration: none;

  transition: opacity 0.2s linear;
}

.feynman__link:hover {
  opacity: 0.7;
}