* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}

/* стили для header */
.header {
  position: relative;

  display: flex;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  padding-left: 64px;
}

.logo {
  background-image: url(../images/logo_place_header.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_place_header {
  position: absolute;

  width: 183px;
  height: 32px;

  top: 30px;
}

.header__title {
  max-width: 730px;

  align-self: center;

  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;

  max-width: 388px;

  bottom: 30px;

  font-size: 18px;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;

  width: 765px;
  height: 608px;

  right: 0;
  bottom: 0;
}

.header__square-pic {
  position: absolute;

  width: 568px;
  height: 568px;

  top: 64px;
  right: 0;
  z-index: -1;

  background-color: #2f80ed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* стили для секции description */
.description {
  display: flex;
  justify-content: center;

  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

.two-columns__brief {
  width: 175px;

  color: #2f80ed;

  font-size: 18px;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;

  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph:nth-of-type(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.span-accent {
  font-weight: bold;
}

/* стили для секции digits */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.15;
}

.section-subtitle {
  margin-top: 20px;

  font-size: 24px;
  line-height: 34px;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}

.table__cell {
  width: 250px;

  margin-top: 60px;
}

.table__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
}

.text {
  margin-top: 20px;

  font-size: 18px;
  line-height: 1.2;
}

/* стили для секции feynman */
.feynman {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;

  background-size: 867px 637px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title {
  width: 648px;

  font-weight: bold;
  font-size: 120px;
  line-height: 1.15;

  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;

  font-size: 36px;
  line-height: 51px;

  margin-bottom: 450px; /* убрать, когда разберусь как правильно */
}

.feynman__link {
  position: absolute;

  top: 50%;
  right: 48px;
  bottom: 50%;

  color: #2f80ed;
  text-decoration: none;

  font-size: 36px;
  line-height: 51px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;

  margin-top: 80px;
  margin-right: 0;
  
  color: white;
}
